SAP_BASE_URL=https://my200967-api.s4hana.sapcloud.cn
SAP_CLIENT=100
SAP_USERNAME=EPC_USER
SAP_PASSWORD=your-password-here
SAP_BP_PATH=/sap/opu/odata/sap/API_BUSINESS_PARTNER/
SAP_STOCK_PATH=/sap/opu/odata/sap/API_MATERIAL_STOCK_SRV/
SAP_SO_PATH=/sap/opu/odata4/sap/api_salesorder/srvd_a2x/sap/salesorder/0001/

DEFAULT_COMPANY_CODE=1010
DEFAULT_SALES_ORGANIZATION=1010
DEFAULT_DISTRIBUTION_CHANNEL=10
DEFAULT_DIVISION=00
DEFAULT_PLANT=1010
DEFAULT_STORAGE_LOCATION=1003
DEFAULT_SALES_ORDER_TYPE=OR

PORTAL_HOST=0.0.0.0
PORTAL_PORT=8080
